# Dependencies
node_modules/

# 11ty Build Output
_site/

# System Files
.DS_Store
Thumbs.db

# Environment variables
.env

# Editor directories
.vscode/
.idea/

# This is a local cache folder containing temporary build data and authentication tokens. It should stay local.
.firebase/