/* Dracula Syntax Highlight */

/* 1. The Container */
pre {
  background: #282a36;
  color: #f8f8f2;
  font-family: var(--font-family-monospace);
  padding: 1.5rem;
  margin: 1.5rem 0;
  overflow: auto;
  border-radius: 8px;
  border: 1px solid #6272a4;
  line-height: 1.5;
  tab-size: 4;
}

/* 2. The Code Text */
code[class*="language-"],
pre code {
  color: inherit;
  background: transparent;
  font-family: inherit;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  hyphens: none;
}

/* 3. Tokens */
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata { color: #6272a4; }
.token.punctuation { color: #f8f8f2; }
.namespace { opacity: .7; }
.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted { color: #ff79c6; }
.token.boolean,
.token.number { color: #bd93f9; }
.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted { color: #50fa7b; }
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable { color: #f8f8f2; }
.token.atrule,
.token.attr-value,
.token.function,
.token.class-name { color: #f1fa8c; }
.token.keyword { color: #8be9fd; }
.token.regex,
.token.important { color: #ffb86c; }