---
permalink: /assets/css/style.css
eleventyExcludeFromCollections: true
---
/* Combined CSS - Themes + Syntax + Main */

/* 1. Site Themes */
{% include "css/themes.css" %}

/* 2. Syntax Highlighting (Configured in src/_data/site.json) */
{% include "css/syntax/" + site.syntax_theme + ".css" %}

/* 3. Main Layout */
{% include "css/main.css" %}