---
permalink: /assets/css/style.css
eleventyExcludeFromCollections: true
---
/* Combined CSS - Themes + Syntax + Main + Gallery */

/* 1. Site Themes */
{% include "css/themes.css" %}

/* 2. Syntax Highlighting */
{% include "css/syntax.css" %}

/* 3. Main Layout */
{% include "css/main.css" %}

/* 4. Gallery & Portfolio */
{% include "css/gallery.css" %}

/* 5. Reading Experience */
{% include "css/reading-experience.css" %}

/* 6. Visual Polish */
{% include "css/visual-polish.css" %}