---
title: "Archive"
layout: base.njk
description: "A complete list of every post written on this blog."
---

<h1>All Posts</h1>

<ul class="post-list">
{% for post in collections.posts | reverse %}
    {# We pass hide_tags: true to the component to keep the archive list cleaner #}
    {% set hide_tags = true %}
    {% include "components/post-item.njk" %}
{% endfor %}
</ul>